<div class="person-cr">
    <div class="person-cr_head page-body_head"><h4>Создание персоны</h4></div>
    <div class="person-cr_body page-body_main form center-block">
        <form name="person-cr_form" onsubmit="return createPerson()">
            <div class="form-group">
                <input id="input-p_name" type="text" class="form-control form-control-sm input"  placeholder="Имя персоны..."/>
            </div>
            <div class="form-group">
                <input id="input-p_surname" type="text" class="form-control form-control-sm input" placeholder="Фамилия...">
            </div>
            <div class="form-group">
                <input id="input-p_address" type="text" class="form-control form-control-sm input" placeholder="Адрес...">
            </div>
            <div class="form-group">
                <input class="btn btn-primary center-block" type="submit" value="Создать">
            </div>
        </form>
    </div>
</div>